@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NicoMoji';
  src: url('./assets/fonts/nicomoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jersey';
  src: url('./assets/fonts/jersey.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  @apply bg-mainBg
}